@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Momo+Signature&family=Playwrite+CZ:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.side-link {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 5px;
    border-radius: 5px;
    transition: 0.2s;
}

.main {
    flex-grow: 1;
    padding: 30px;
}

h3 {
    margin-bottom: 20px;
    color: #333;
    margin-top: 20px;
}

.posts-container .post {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    
}

.posts-container .post p {
    margin-bottom: 10px;
    color: #333;
}

.posts-container .post small {
    color: #888;
}

.post-actions {
    margin-top: 10px;
}


.post-actions a {
    text-decoration: none;
    margin-right: 15px;
    color: #007bff;
    font-size: 14px;
}

.post-actions span a {
    color: rgb(192, 11, 11);
}

.post-actions a i {
    margin-right: 5px;
}

.center-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 0 20px;
}

.center-bar img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 10px;
}

.center-bar .post,
.center-bar .friend {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-bar .post p,
.center-bar .friend p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.center-bar .post h4,
.center-bar .friend h4 {
    font-size: 20px;
    margin: 0;
}
