
   /* over all styling */

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}



/* Login Container */
.login-container {
    background: #ffffff;
    width: 380px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.3);
    text-align: center;
}



.login-container h2 {
    margin-bottom: 25px;
    color: #333;
    font-size: 26px;
}


   /* Input Fields */

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 92%;
    padding: 12px;
    font-size: 15px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    
    transition: 0.2s ease;
}



.input-group input:focus {
    border-color: rgb(76, 234, 76);
    outline: none;
}

/* .input-group input:nth-child(even){
    border-color: red;
} */


   /* Submit Button */

button {
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background: #3d7cc3;
}


   /* Signup Redirect Section */

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #4a90e2;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}


   /* Error / Success Messages */

.message {
    margin-bottom: 15px;
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
}

.error {
    background: #ffe5e5;
    color: #cc0000;
}

.success {
    background: #e8ffe8;
    color: #0a8a0a;
}





/* DARK MODE FUNCTIONALY  */



body.dark {
    background: #1b1b1d;
}

body.dark .login-container {
    background: #2a2a2d;
    color: #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

body.dark .login-container .project-title {
    color: #4a90e2;
}


body.dark h2 {
    color: #fff;
}

body.dark .input-group label {
    color: #dcdcdc;
}

body.dark .input-group input {
    background: #1e1e20;
    border: 1.5px solid #555;
    color: #fff;
}

body.dark .input-group input:focus {
    border-color: #7aff83;
}

body.dark button {
    background: #7ab4ff;
    color: #000;
}

body.dark button:hover {
    background: #5a94dd;
}

body.dark .signup-link a {
    color: #7ab4ff;
}

body.dark .message.error {
    background: #442222;
    color: #ff8a8a;
}

body.dark .message.success {
    background: #224422;
    color: #9cff9c;
}




/* DARK MODE BUTTON  */


.theme-btn {
    margin-top: 15px;
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 100%;
    width: 12%;
    cursor: pointer;
}

.theme-btn:hover {
    background: #000;
}


.project-title {
    color: #4a90e2;
}